<header class="header">
  <div class="wrapper">
    {{ page.header }}
  </div>
</header>

<main class="main-content">
  <div class="wrapper">
    {% if page.sidebar_left %}
      <aside class="sidebar-right">
        {{ page.sidebar_left }}
      </aside>
    {% endif %}

    {% if page.sidebar_right %}
      <aside class="sidebar-left">
        {{ page.sidebar_right }}
      </aside>
    {% endif %}

    <div class="content">
      {{ page.content }}
    </div>
  </div>
</main>

{% if page.footer %}
  <footer class="footer">
    <div class="wrapper">
      {{ page.footer }}
    </div>
  </footer>
{% endif %}
