<header class="header">
  {{ page.header }}
</header>

<main class="content-wrapper">
  {% if page.sidebar_right %}
    <aside class="sidebar-left">
      {{ page.sidebar_left }}
    </aside>
  {% endif %}

  <div class="content">
    {{ page.content }}
  </div>

  {% if page.sidebar_left %}
    <aside class="sidebar-right">
      {{ page.sidebar_left }}
    </aside>
  {% endif %}
</main>

{% if page.footer %}
  <footer class="footer">
    {{ page.footer }}
  </footer>
{% endif %}
